<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.fms.mapper.FExpenseCalendarMapper">
  <resultMap id="BaseResultMap" type="com.bj186.fms.pojo.FExpenseCalendar">
    <id column="feCalendarID" jdbcType="INTEGER" property="feCalendarID" />
    <result column="fAccountID" jdbcType="INTEGER" property="fAccountID" />
    <result column="capital" jdbcType="DECIMAL" property="capital" />
    <result column="createTime" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    feCalendarID, fAccountID, capital, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fexpensecalendar
    where feCalendarID = #{feCalendarID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fexpensecalendar
    where feCalendarID = #{feCalendarID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.fms.pojo.FExpenseCalendar">
    insert into fexpensecalendar (feCalendarID, fAccountID, capital, 
      createTime)
    values (#{feCalendarID,jdbcType=INTEGER}, #{fAccountID,jdbcType=INTEGER}, #{capital,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.fms.pojo.FExpenseCalendar">
    insert into fexpensecalendar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="feCalendarID != null">
        feCalendarID,
      </if>
      <if test="fAccountID != null">
        fAccountID,
      </if>
      <if test="capital != null">
        capital,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="feCalendarID != null">
        #{feCalendarID,jdbcType=INTEGER},
      </if>
      <if test="fAccountID != null">
        #{fAccountID,jdbcType=INTEGER},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.fms.pojo.FExpenseCalendar">
    update fexpensecalendar
    <set>
      <if test="fAccountID != null">
        fAccountID = #{fAccountID,jdbcType=INTEGER},
      </if>
      <if test="capital != null">
        capital = #{capital,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where feCalendarID = #{feCalendarID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.fms.pojo.FExpenseCalendar">
    update fexpensecalendar
    set fAccountID = #{fAccountID,jdbcType=INTEGER},
      capital = #{capital,jdbcType=DECIMAL},
      createTime = #{createTime,jdbcType=DATE}
    where feCalendarID = #{feCalendarID,jdbcType=INTEGER}
  </update>
</mapper>