<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.fms.mapper.InvestmentMapper">
  <resultMap id="BaseResultMap" type="com.bj186.fms.pojo.Investment">
    <id column="investmentID" jdbcType="INTEGER" property="investmentID" />
    <result column="userID" jdbcType="INTEGER" property="userID" />
    <result column="bidID" jdbcType="INTEGER" property="bidID" />
    <result column="investTime" jdbcType="DATE" property="investTime" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    investmentID, userID, bidID, investTime, amount, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from investment
    where investmentID = #{investmentID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from investment
    where investmentID = #{investmentID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.fms.pojo.Investment">
    insert into investment (investmentID, userID, bidID, 
      investTime, amount, status
      )
    values (#{investmentID,jdbcType=INTEGER}, #{userID,jdbcType=INTEGER}, #{bidID,jdbcType=INTEGER}, 
      #{investTime,jdbcType=DATE}, #{amount,jdbcType=DOUBLE}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.fms.pojo.Investment">
    insert into investment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="investmentID != null">
        investmentID,
      </if>
      <if test="userID != null">
        userID,
      </if>
      <if test="bidID != null">
        bidID,
      </if>
      <if test="investTime != null">
        investTime,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="investmentID != null">
        #{investmentID,jdbcType=INTEGER},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="bidID != null">
        #{bidID,jdbcType=INTEGER},
      </if>
      <if test="investTime != null">
        #{investTime,jdbcType=DATE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.fms.pojo.Investment">
    update investment
    <set>
      <if test="userID != null">
        userID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="bidID != null">
        bidID = #{bidID,jdbcType=INTEGER},
      </if>
      <if test="investTime != null">
        investTime = #{investTime,jdbcType=DATE},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where investmentID = #{investmentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.fms.pojo.Investment">
    update investment
    set userID = #{userID,jdbcType=INTEGER},
      bidID = #{bidID,jdbcType=INTEGER},
      investTime = #{investTime,jdbcType=DATE},
      amount = #{amount,jdbcType=DOUBLE},
      status = #{status,jdbcType=VARCHAR}
    where investmentID = #{investmentID,jdbcType=INTEGER}
  </update>
</mapper>