<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.fms.mapper.MonthCalendarMapper">
  <resultMap id="BaseResultMap" type="com.bj186.fms.pojo.MonthCalendar">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="cAccountID" jdbcType="INTEGER" property="caccountid" />
    <result column="expenseType" jdbcType="VARCHAR" property="expensetype" />
    <result column="gno" jdbcType="VARCHAR" property="gno" />
    <result column="capital" jdbcType="DECIMAL" property="capital" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    mid, cAccountID, expenseType, gno, capital, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from monthcalendar
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from monthcalendar
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.fms.pojo.MonthCalendar">
    insert into monthcalendar (mid, cAccountID, expenseType, 
      gno, capital, createTime
      )
    values (#{mid,jdbcType=INTEGER}, #{caccountid,jdbcType=INTEGER}, #{expensetype,jdbcType=VARCHAR}, 
      #{gno,jdbcType=VARCHAR}, #{capital,jdbcType=DECIMAL}, #{createtime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.fms.pojo.MonthCalendar">
    insert into monthcalendar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="caccountid != null">
        cAccountID,
      </if>
      <if test="expensetype != null">
        expenseType,
      </if>
      <if test="gno != null">
        gno,
      </if>
      <if test="capital != null">
        capital,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="caccountid != null">
        #{caccountid,jdbcType=INTEGER},
      </if>
      <if test="expensetype != null">
        #{expensetype,jdbcType=VARCHAR},
      </if>
      <if test="gno != null">
        #{gno,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.fms.pojo.MonthCalendar">
    update monthcalendar
    <set>
      <if test="caccountid != null">
        cAccountID = #{caccountid,jdbcType=INTEGER},
      </if>
      <if test="expensetype != null">
        expenseType = #{expensetype,jdbcType=VARCHAR},
      </if>
      <if test="gno != null">
        gno = #{gno,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        capital = #{capital,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.fms.pojo.MonthCalendar">
    update monthcalendar
    set cAccountID = #{caccountid,jdbcType=INTEGER},
      expenseType = #{expensetype,jdbcType=VARCHAR},
      gno = #{gno,jdbcType=VARCHAR},
      capital = #{capital,jdbcType=DECIMAL},
      createTime = #{createtime,jdbcType=DATE}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>