<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.fms.mapper.RmbBusinessMapper">
  <resultMap id="BaseResultMap" type="com.bj186.fms.pojo.RmbBusiness">
    <id column="rAccountID" jdbcType="INTEGER" property="raccountid" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="cardType" jdbcType="VARCHAR" property="cardtype" />
    <result column="capital" jdbcType="DECIMAL" property="capital" />
    <result column="interest" jdbcType="DOUBLE" property="interest" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="editTime" jdbcType="DATE" property="edittime" />
  </resultMap>
  <sql id="Base_Column_List">
    rAccountID, IDnumber, password, cardType, capital, interest, status, createTime, 
    editTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rmbbusiness
    where rAccountID = #{raccountid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rmbbusiness
    where rAccountID = #{raccountid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.fms.pojo.RmbBusiness">
    insert into rmbbusiness (rAccountID, IDnumber, password, 
      cardType, capital, interest, 
      status, createTime, editTime
      )
    values (#{raccountid,jdbcType=INTEGER}, #{idnumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{cardtype,jdbcType=VARCHAR}, #{capital,jdbcType=DECIMAL}, #{interest,jdbcType=DOUBLE}, 
      #{status,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, #{edittime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.fms.pojo.RmbBusiness">
    insert into rmbbusiness
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="raccountid != null">
        rAccountID,
      </if>
      <if test="idnumber != null">
        IDnumber,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="cardtype != null">
        cardType,
      </if>
      <if test="capital != null">
        capital,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="edittime != null">
        editTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="raccountid != null">
        #{raccountid,jdbcType=INTEGER},
      </if>
      <if test="idnumber != null">
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null">
        #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=DECIMAL},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.fms.pojo.RmbBusiness">
    update rmbbusiness
    <set>
      <if test="idnumber != null">
        IDnumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null">
        cardType = #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        capital = #{capital,jdbcType=DECIMAL},
      </if>
      <if test="interest != null">
        interest = #{interest,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="edittime != null">
        editTime = #{edittime,jdbcType=DATE},
      </if>
    </set>
    where rAccountID = #{raccountid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.fms.pojo.RmbBusiness">
    update rmbbusiness
    set IDnumber = #{idnumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      cardType = #{cardtype,jdbcType=VARCHAR},
      capital = #{capital,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DOUBLE},
      status = #{status,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      editTime = #{edittime,jdbcType=DATE}
    where rAccountID = #{raccountid,jdbcType=INTEGER}
  </update>
</mapper>