<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.fms.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.bj186.fms.pojo.User">
    <id column="userID" jdbcType="INTEGER" property="userID" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="transactionPassword" jdbcType="VARCHAR" property="transactionPassword" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createTime" jdbcType="DATE" property="createTime" />
    <result column="editTime" jdbcType="DATE" property="editTime" />
    <result column="userType" jdbcType="VARCHAR" property="userType" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
  </resultMap>
  <sql id="Base_Column_List">
    userID, username, password, transactionPassword, status, createTime, editTime, userType, 
    balance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userID = #{userID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userID = #{userID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.fms.pojo.User">
    insert into user (userID, username, password, 
      transactionPassword, status, createTime, 
      editTime, userType, balance
      )
    values (#{userID,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{transactionPassword,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{editTime,jdbcType=DATE}, #{userType,jdbcType=VARCHAR}, #{balance,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.fms.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userID != null">
        userID,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="transactionPassword != null">
        transactionPassword,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="editTime != null">
        editTime,
      </if>
      <if test="userType != null">
        userType,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="transactionPassword != null">
        #{transactionPassword,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=DATE},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.fms.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="transactionPassword != null">
        transactionPassword = #{transactionPassword,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=DATE},
      </if>
      <if test="editTime != null">
        editTime = #{editTime,jdbcType=DATE},
      </if>
      <if test="userType != null">
        userType = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
    </set>
    where userID = #{userID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.fms.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      transactionPassword = #{transactionPassword,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=DATE},
      editTime = #{editTime,jdbcType=DATE},
      userType = #{userType,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DOUBLE}
    where userID = #{userID,jdbcType=INTEGER}
  </update>
</mapper>