<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--设置控制天日志,显示SQL语句-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--设置pojo包中的实体类自动解析别名-->
    <typeAliases>
        <package name="com.bj186.crm.pojo"></package>
    </typeAliases>
</configuration>

