<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.crm.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.bj186.crm.pojo.Item">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_price" jdbcType="DOUBLE" property="itemPrice" />
    <result column="item_detail" jdbcType="VARCHAR" property="itemDetail" />
    <result column="item_pic" jdbcType="VARCHAR" property="itemPic" />
    <result column="item_createtime" jdbcType="TIMESTAMP" property="itemCreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    item_id, item_name, item_price, item_detail, item_pic, item_createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from items
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from items
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.crm.pojo.Item">
    insert into items (item_id, item_name, item_price, 
      item_detail, item_pic, item_createtime
      )
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemPrice,jdbcType=DOUBLE}, 
      #{itemDetail,jdbcType=VARCHAR}, #{itemPic,jdbcType=VARCHAR}, #{itemCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.crm.pojo.Item">
    insert into items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemPrice != null">
        item_price,
      </if>
      <if test="itemDetail != null">
        item_detail,
      </if>
      <if test="itemPic != null">
        item_pic,
      </if>
      <if test="itemCreatetime != null">
        item_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null">
        #{itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="itemDetail != null">
        #{itemDetail,jdbcType=VARCHAR},
      </if>
      <if test="itemPic != null">
        #{itemPic,jdbcType=VARCHAR},
      </if>
      <if test="itemCreatetime != null">
        #{itemCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.crm.pojo.Item">
    update items
    <set>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null">
        item_price = #{itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="itemDetail != null">
        item_detail = #{itemDetail,jdbcType=VARCHAR},
      </if>
      <if test="itemPic != null">
        item_pic = #{itemPic,jdbcType=VARCHAR},
      </if>
      <if test="itemCreatetime != null">
        item_createtime = #{itemCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.crm.pojo.Item">
    update items
    set item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=DOUBLE},
      item_detail = #{itemDetail,jdbcType=VARCHAR},
      item_pic = #{itemPic,jdbcType=VARCHAR},
      item_createtime = #{itemCreatetime,jdbcType=TIMESTAMP}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>