<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.crm.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.bj186.crm.pojo.OrderDetail">
    <id column="orderdetail_id" jdbcType="INTEGER" property="orderdetailId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_num" jdbcType="INTEGER" property="itemNum" />
  </resultMap>
  <sql id="Base_Column_List">
    orderdetail_id, order_id, item_id, item_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where orderdetail_id = #{orderdetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderdetail
    where orderdetail_id = #{orderdetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.crm.pojo.OrderDetail">
    insert into orderdetail (orderdetail_id, order_id, item_id, 
      item_num)
    values (#{orderdetailId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, 
      #{itemNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.crm.pojo.OrderDetail">
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderdetailId != null">
        orderdetail_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemNum != null">
        item_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderdetailId != null">
        #{orderdetailId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemNum != null">
        #{itemNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.crm.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemNum != null">
        item_num = #{itemNum,jdbcType=INTEGER},
      </if>
    </set>
    where orderdetail_id = #{orderdetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.crm.pojo.OrderDetail">
    update orderdetail
    set order_id = #{orderId,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER},
      item_num = #{itemNum,jdbcType=INTEGER}
    where orderdetail_id = #{orderdetailId,jdbcType=INTEGER}
  </update>
</mapper>